{% extends 'base.html'%}
{%block title%}
My Blog
{% endblock%}
{%block css_files%}
<link rel='stylesheet' src='blog/index.css' />
{%endblock%}
{% block content%}
<header id='main-navigation'>
  <h1>
      <a href=''>Sam's Blog</a>
    <nav>
      <a href=''>All Posts<a>
      </nav>
    </h1>
  </header>
<section id='welcome'>
<header>
  <img scr='' alt='max - the author of this blog'/>
  <h2>MAXMILIAN'S BLOG'</H2>
</header>
<p>Hi, I am Max and I love to blog about tech and the world!</p>
</section>
<section id='latest-posts'>
  <h2>
    My Latest Thoughts
  </h2>
  <ul>
    <li>
      <article class='post'>
<a href=''>
  <img src='' alt='mountain Hiking'/>
</a>
<div class='post__content'>
  <h3>Mountain Hiking</h3>
  <p>There's nothing like the views you get while Hiking in the mountains and I wasn't even prepared for the view I saw when hiking in the mountain.
</div>
      </article>
    </li>
  </ul>
<header>
</header>
</section>
<section id='about'>
<h2>What I do</h2>
<p>
</p>
</section>
<h1>Welcome to my blog</h1>
{%endblock%}
